/*
 * main css file for TechInvent
 *
 * @author Julian Jacobi
 * @verson 2013-03-28
 */
 
body {
	margin: 0px;
	font-family: arial;
}

input.system_input_text {
	font-family: arial;
	background: transparent;
	border: 1px solid lightgrey;
	color: lightgrey;
	padding: 5px;
	border-radius: 5px;
}

.system_button {
	font-family: arial;
	background: transparent;
	border: 1px solid lightgrey;
	color: lightgrey;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.system_backbutton {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	color: lightgrey;
	background: transparent;
	cursor: pointer;
	width: 6em;
	position: relative;
	left: 100%;
	margin-left: -6em;
}